/* > Colors: DRACULA (https://github.com/dracula/dracula-theme) */

@media screen and (min-width: 320px) { .container { width: 100%; } }
@media screen and (min-width: 480px) { .container { width: 80%; } }
@media screen and (min-width: 720px) { .container { width: 70%; } }
@media screen and (min-width: 960px) { .container { width: 60%; } }
@media screen and (min-width: 1080px) { .container { width: 50%; } }

::-webkit-scrollbar {
	display: none;
}

html {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu Nerd Font', sans-serif;
	overflow: -moz-scrollbars-none;
	scrollbar-width: none;
}

body {
	background: url('/home/b1/.config/wall.png') no-repeat;
	background-size: cover;

	color: #f8f8f2;
}

#date {
	text-align: center;
	font-size: 1.3em;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 1em auto;
}

section {
	flex-grow: 1;
	flex-basis: .0001em;
	padding: 1em;
	margin: .5em;
	background-color: rgba(40, 42, 54, 0.8);
	border-radius: 4px;
	transition: .1s linear;
}
section:hover { background-color: rgba(68, 71, 90, 0.8); }
section h1 {
	text-align: center;
	padding-bottom: .5em;
	border-bottom: 1px solid rgba(248, 248, 242, 0.1)
}

ul { padding: 0; list-style-type: none }
ul li {}
ul li a { color: #8be9fd; text-decoration: none }
ul li a:hover, ul li a:active { color: #50fa7b }

input {
	display: block;
	width: 100%;
	border: 1px solid #3C474B;
	border-radius: 4px;
	background-color: #44475a;
	padding: 8px 14px;
	color: #bd93f9;
}
