/*
* > Colors: DRACULA (https://github.com/dracula/dracula-theme)
*
*/

html {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body {
	background: url('/home/b1/.config/wall.png');
	background-size: cover;

	color: #f8f8f2;
}

.clr { clear: both; }

#date {
	width: 100%;
	text-align: center;
	padding-top: 1em;
	font-size: 150%;
}

section {
	float: left;
	width: calc(25% - (25 * 2px + 10 * 2px));
	padding: 25px;
	margin: 10px;
	background-color: #282a36;
	border-radius: 4px
}

ul { padding: 0; list-style-type: none }
ul li {}
ul li a { color: #bd93f9; text-decoration: none }
ul li a:hover, ul li a:active { color: #6272a4 }

input {
	display: block;
	width: 100%;
	border: 1px solid #3C474B;
	border-radius: 4px;
	background-color: #44475a;
	padding: 8px 14px;
	color: #bd93f9;
}
